.hero-container {
  min-height: 626px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .hero-body {
    position: relative;
    color: var(--clr-white);
    z-index: 1;
    flex: 1;
  }

  .hero-background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
  }
}
