.left {
  position: absolute;
  left: -60px;
  bottom: 0;
  z-index: 2;
}

.right {
  position: absolute;
  right: -60px;
  bottom: 0;
  z-index: 3;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
